---
import { Icon } from 'astro-icon/components'
import Image from 'astro/components/Image.astro'
import BarbaraWithFreddie from '../assets/Barbara_with_Freddie.png'
import HeroLogo from '../assets/HeroLogo.png'
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<main class="p-2">
		<!-- Hero -->
		<section class="home container mx-auto mb-10 mt-6" id="home">
			<div class="home__container bd-container bd-grid grid grid-cols-1 gap-2 lg:grid-cols-3 gap-4">
				<div class="home__data flex flex-col items-start lg:justify-center">
					<h1 class="home__title text-5xl md:text-6xl font-semibold">Artistic Excellence</h1>
					<h2 class="home__subtitl mt-2 text-3xl font-light">Take a Snapshot of Life</h2>
					<a href="gallery.html" class="button mt-6 rounded-full bg-green-600 px-4 py-4 text-xl text-white"
						>View Gallery</a
					>
				</div>

				<div class="home__img-container lg:col-span-2">
					<Image src={HeroLogo} alt="" class="home__img" />
				</div>
			</div>
		</section>

		<!-- About -->
		<section class="about container mx-auto mt-24 px-4" id="about">
			<div class="about__container flex flex-col items-center gap-2">
				<h1 class="about__title text-4xl font-semibold">About</h1>
				<h2 class="about__subtitle text-2xl font-light">A bit about the artist</h2>
				<article class="about__info mt-3 flex w-full flex-col md:flex-row gap-4 lg:justify-between lg:gap-4">
					<Image
						src={BarbaraWithFreddie}
						alt="Barbara with Fryderyk"
						class="about__img block w-[400px] self-center rounded-2xl object-contain md:w-[390px] lg:w-1/3"
					/>
					<p class="about__description prose text-justify lg:prose-lg xl:prose-2xl flex-grow">
						I was born in Warsaw, Poland. I studied in arts specialization programs both in high school and university
						for over 9 years, becoming acquainted with a wide variety of artistic forms including pencil based drawing,
						painting, sculpture, graphics and ceramics.<br /><br />I immigrated to Canada and worked as an illustrator
						for magazines outlets such as “Healthsharing” and “Our Time”, in addition to teaching art on the side.<br
						/><br />I enjoy various painting styles and s ranging from people and their pets to urban architecture and
						abstract concepts. Yet of all art styles, my favorite would be pencil drawings, where all of the different
						shades of black and white can create unforgettable emotions and atmosphere. I believe that the world of
						black and white is not lesser than the world in colour. The pencil creates limitless possibilities.
					</p>
					<article></article>
				</article>
			</div>
		</section>

		<!-- Contact Me -->
		<section class="contact container mx-auto my-20 flex flex-col items-center gap-2" id="contact">
			<h1 class="section__title text-4xl font-semibold">Contact Me</h1>
			<h2 class="section__subtitle mt-2 text-2xl font-light">Get in touch</h2>

			<div
				class="contact__container mx-auto mt-2 flex flex-col items-start justify-around gap-4 md:w-full md:flex-row md:items-center"
			>
				<!-- Phone -->
				<div class="contact__information flex items-center gap-2">
					<Icon name="mdi:phone" class="uil uil-phone contact__icon h-12 w-12" />
					<div class="contact__givens flex flex-col">
						<h3 class="contact__title text-xl font-semibold">Call Me</h3>
						<span class="contact__subtitle text-lg font-light">437-886-8637</span>
					</div>
				</div>
				<!-- Email -->
				<div class="contact__information flex items-center gap-2">
					<Icon name="mdi:email" class="uil uil-envelope contact__icon h-12 w-12" />
					<div class="contact__givens flex flex-col">
						<h3 class="contact__title text-xl font-semibold">Email Me</h3>
						<span class="contact__subtitle text-lg font-light">fryderyk7@hotmail.ca</span>
					</div>
				</div>
				<!-- Location -->
				<div class="contact__information flex items-center gap-2">
					<Icon name="mdi:location" class="uil uil-envelope contact__icon h-12 w-12" />
					<div class="contact__givens">
						<h3 class="contact__title text-xl font-semibold">Location</h3>
						<span class="contact__subtitle text-lg font-light">15 Windermere Ave. <br /> Toronto ON, Canada</span>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
