---
import { Icon } from 'astro-icon/components'
---

<a
	href="/"
	class="ml-4 flex flex-row items-center rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white focus:bg-gray-700 focus:text-white focus:outline-none"
>
	<slot name="icon">
		<Icon name="mdi:home" class="h-8 w-8 text-white" />
	</slot>
	<slot name="text">
		<span class="ml-2">Home</span>
	</slot>
</a>
