---
import gossip from '../../assets/gallery/oil-on-canvas/gossip.webp'
import through_child_eyes from '../../assets/gallery/oil-on-canvas/through_the_eyes_of_a_child.webp'
import GalleryItem from '../GalleryItem.astro'
---

<!-- Oil on Canvas -->
<section id="oil-on-canvas" class="translate-y-4 pt-20 opacity-0 transition-all duration-500">
	<h1 class="section__title text-center text-4xl font-semibold">Oil on Canvas</h1>
	<div class="grid grid-cols-1 gap-1 md:grid-cols-24">
		<GalleryItem src={gossip} alt="Gossip" class="md:col-span-8 md:row-span-12" />
		<GalleryItem src={through_child_eyes} alt="Through the Eyes of a Child" class="md:col-span-16 md:row-span-12" />
	</div>
</section>
