---
import BaseLayout from './BaseLayout.astro'
import Navbar from '../components/Navbar.astro'
---

<BaseLayout>
	<Navbar />
	<body>
		<slot />
	</body>
</BaseLayout>


<style is:global>
	.fade-in {
		opacity: 1;
		transform: translateY(0);
	}
</style>
